.all-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #ffff;
    height: 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    align-items: center;
    padding: 0px 0px 0px 50px;
}
.item{
    display: flex;
    flex-direction: row;
}
.logo{
    background-color: rgb(152, 128, 97);
    width: 120px;
    height: 50px;
}
.language{
    /* width: 50px;
    background-color: black; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px 0px 0px;
    
}
.btn-home{
    background-color:transparent;
    border: none;
    font-size: 16px;
}
.btn-home:hover{
    color: red;
}
.btn-profile{
    background-color:transparent;
    border: none;
    font-size: 16px;
}
.btn-profile:hover{
    color: red;
}
.btn-business{
    background-color:transparent;
    border: none;
    font-size: 16px;
}
.btn-business:hover{
    color: red;
}
.btn-feeds{
    background-color:transparent;
    border: none;
    font-size: 16px;
}
.btn-feeds:hover{
    color: red;
}
.btn-contacts{
    background-color:transparent;
    border: none;
    font-size: 16px;
}
.btn-contacts:hover{
    color: red;
}
button{
    width: 120px;
}
.eng{
    width: 40px;
    background-color: rgb(86, 52, 165);
    height: 40px;
    border-radius: 100%;
    margin: 10px;
}
.ind{
    width: 40px;
    background-color: rgb(189, 140, 140);
    height: 40px;
    border-radius: 100%;
    margin: 10px;
}
.garis{
    
}