.image-magazine{
    
    width: 316px;
    height: 452px;
    background-color: #92f2e2;
}
.all-magazine{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;
}
.magazine{
    padding: 40px;
}
.magazine-wrapper{
    text-align: center;
}
.image-magazine img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    /* object-fit: cover; */
}
.loadmore-magazine button{
    border: none;
    width: 427px;
    background-color: #ED1C24;
    color: #fff;
    height: 48px;
    border-radius: 5px;
}
.loadmore-magazine{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
@media(max-width:480px){
    .all-magazine{
        flex-direction: column;
        row-gap: 50px;
    }
    .loadmore-magazine{
        width: 316px;
    }
}